.Footer .cta {
    margin-inline: 1.5rem;
    padding-block-end: 5rem;
}

.Footer .cta h2 {
    text-align: center;
}

.Footer .cta .cta-form {
    margin-block-start: 2rem;
    text-align: center;
}

.Footer footer {
    position: relative;
    overflow: hidden;
    padding-block: 2.5rem 3.5rem;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    background-color: var(--sec-blue-700);

}

.Footer footer ul {
    margin-block-start: 2.5rem;
    flex-direction: column;
    gap: 1.875rem;
    align-items: center;
    list-style-type: none;
}

.Footer footer ul li a {
    color: var(--neutral-white)
}

.Footer footer ul li a {
    text-decoration: none;
    color: var(--neutral-white)
}

.Footer footer a img {
    filter: invert(82%) sepia(26%) saturate(93%) hue-rotate(195deg) brightness(114%) contrast(99%);
}

.Footer footer .contacts {
    margin-block-start: 2.5rem;
    gap: 1.5rem;
}


.Footer footer .contacts .contact {
    filter: invert(82%) sepia(26%) saturate(93%) hue-rotate(195deg) brightness(114%) contrast(99%);
}

.Footer .bgCircle-container {
    position: absolute;
    width: 780px;
    left: 50%;
    bottom: -600px;
    transform: translate(-50%, 0);
}

.Footer .bgCircle {
    z-index: -10;
    width: 780px;
    height: 780px;
}

/********
  TABLET
 ********/
@media (min-width: 680px) {
    .Footer .cta {
        margin-inline: 10rem;
        padding-block-end: 6.25rem;
    }
    .Footer .cta .cta-form {
        position: relative;
        margin-block-start: 2.5rem;
        text-align: center;
    }

    .Footer .cta .cta-form .prim-btn {
        position: absolute;
        right: 0;
    }

    .Footer footer {
        padding-block: 2rem;
        padding-inline: 2.5rem;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }

    .Footer footer ul {
        margin-block-start: 0;
        flex-direction: row;
        gap: 2.5rem;
    }
    
    .Footer footer .contacts {
        margin-block-start: 0;
    }

    .Footer .bgCircle-container {
        width: 100vw;
        left: 85%;
        bottom: -650px;
    }
    
    .Footer .bgCircle {
        width: 100vw;
        height: 100vw;
    }
}

/********
  DESKTOP
 ********/
 @media (min-width: 992px) {
    .Footer .cta {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .Footer .cta .cta-form{
        flex: 0 0 28rem;
        margin-block-start: 0;
    }

    .Footer footer {
        padding-inline: 10rem ;
    }

    .Footer .bgCircle-container {
        width: 780px;
        left: 90vw;
        bottom: -650px;
    }
    
    .Footer .bgCircle {
        width: 780px;
        height: 780px;
    }
 }