.Navbar {
    position: fixed;
    z-index: 5;
    top: 0;
    width: 100%;
    padding-inline: 1.5rem;
    margin-block-start: 2.5rem;
    justify-content: space-between;
    align-items: center;
    transition: all .25s ease-in-out;
}

.Navbar .menu-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    flex-direction: column;
    height: 100vh;
    width: 18.75rem;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--sec-blue-700);
    opacity: .98;
}

.Navbar .menu-wrapper .exit-wrapper {
    flex-basis: 6rem;
    width: 85%;
    align-items: flex-end;
    justify-content: flex-end;
    border-bottom: 1px solid var(--neutral-white);
}

.Navbar .menu-exit-btn {
    padding: 0;
}

.Navbar .menu-exit-btn .close {
    width: 22px;
    height: 23px;
    margin-block-end: 1.5rem;
}

.Navbar ul {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: flex-start;
    align-items: center;
    list-style-type: none;
}

.Navbar ul li {
    color: white;
}

.Navbar ul li a {
    text-decoration: none;
    color: white;
    transition: all .2s ease-in-out;
}

.Navbar .menu-wrapper .prim-btn {
    margin-block-start: 2rem;
}

.Navbar .menu-toggle-btn .hamburger {
    margin-left: auto;
    width: 28px;
    height: 17px;
}


/************
  ANIMATIONS
 ************/
/* Animation Classes */
.show {
    transform: translateX(0);
}

.slide-left {
    animation: enterFromRight .5s ease-in-out;
}

.hidden {
    transform: translateX(100%);
}

.slide-right {
    animation: exitToRight .5s ease-in-out;
}


/* Animations */
@keyframes enterFromRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: .98;
    }
}

@keyframes exitToRight {
    0% {
        transform: translateX(0px);
        opacity: .98;
    }

    100% {
        transform: translateX(100%);
        opacity: 0;
    }
}

/********
  TABLET
 ********/
@media (min-width: 680px) {

    .Navbar {
        flex-direction: row;
    }

    .Navbar .menu-exit-btn,
    .Navbar .menu-toggle-btn {
        display: none;
    }

    .Navbar .menu-wrapper {
        position: static;
        flex-direction: row;
        width: 100%;
        height: auto;
        justify-content: space-between;
        background-color: transparent;
    }

    .hidden {
        transform: translateX(0px);
    }


    .Navbar ul {
        margin-top: 0;
        flex-direction: row;
        /* flex-basis: 22.5rem; */
        margin-inline: 1rem;
        flex-shrink: 0;
        width: auto;
        gap: 2.5rem;
    }
    .Navbar ul li a{
        color: var(--sec-blue-500);
    }

    .Navbar .menu-wrapper .prim-btn {
        flex-grow: 0;
        flex-shrink: 0;
        margin-block-start: 0;
        height: fit-content;
    }
    .Navbar .logo-link {
        min-width: 100px;
    }

}

/********
  DESKTOP
 ********/
 @media (min-width: 992px) {
    .Navbar .menu-wrapper {
        margin-inline: 10.25rem;
        gap: 4rem;
        flex-direction: row;
        justify-content: flex-start;
    }
    .Navbar .menu-wrapper .prim-btn {
        margin-left: auto;
    }
}
