.App>.bgCircle-container {
    display: inline;
}

.About {
    padding-block-start: 7.875rem;
    margin-block-end: 3rem;
}

.About h2 {
    font-size: 2rem;
    margin-inline: 1.5rem;
}

.About h2,
.About p,
.About section h3,
.About h1 {
    text-align: center;
}

.About section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-block-start: 3rem;
    margin-inline: 1.5rem;
}

.About section p {
    color: var(--sec-blue-300);
}

.About .mobile-team-img {
    margin-block-start: 4.75rem;
}

.About .desktop-team-img {
    display: none;
}

.About .statistics {
    margin-block-start: 3rem;
    margin-inline: 1.5rem;
    padding-block: 1.25rem;
    flex-direction: column;
    gap: 2.5rem;
    border-top: 1px solid var(--sec-blue-500);
    border-bottom: 1px solid var(--sec-blue-500);
}

.About .statistics .stat {
    flex-direction: column;
    gap: .75rem;
}

.About .statistics .stat h1 {
    font-size: 3.5rem;
    color: var(--prim-pink-500);
}

.About .statistics .stat p {
    font-size: 1rem;
    opacity: 0.7;
    color: var(--sec-blue-500);
}

.About .circle-container {
    display: none;
}

/********
  TABLET
 ********/
@media (min-width: 680px) {

    .About {
        padding-block-start: 10.25rem;
        margin-block-end: 4.5rem;
    }

    .About h2 {
        font-size: 3rem;
        margin-inline: 5.5rem;
    }


    .About p,
    .About section h3,
    .About h1 {
        text-align: left;
    }

    .About section {
        flex-direction: row;
        gap: 0rem;
        margin-block-start: 4rem;
        margin-inline: 2.5rem;
    }

    .About section h3 {
        flex: 1 1 30%;
        /* font-size: 2.5rem; */
    }

    .About section p {
        flex: 1 1 70%;
    }

    .About .mobile-team-img {
        display: none;
    }

    .About .desktop-team-img {
        display: inline;
    }
    .About .img-container {
        margin-block-start: 5.75rem;
    }

    .About .statistics {
        margin-block-start: 4rem;
        margin-inline: 2.5rem;
        flex-direction: row;
        justify-content: space-between;
        gap: .75rem;
    }

    .About .statistics .stat {
        flex: 1 1 33%
    }

}

/********
 DESKTOP
 ********/
@media (min-width: 992px) {

    .About {
        padding-block-start: 10.625rem;
        margin-block-end: 6.25rem;
    }

    .About h2 {
        font-size: 3.5rem;
        text-align: left;
        margin-inline-start: 16.25rem;
        margin-inline-end: 28rem;
    }

    .About section {
        margin-block-start: 3.5rem;
        margin-inline: 16.25rem;
    }

    .About .statistics {
        margin-block-start: 4.5rem;
        margin-block-end: 1rem;
        margin-inline: 10.25rem;
        gap: .75rem;
    }

    .About .img-container {
        position: relative;
        /* overflow: hidden; */
    }

    .About .circle-container {
        position: absolute;
        display: inline;
        left: -40vw;
        top: 50%;
        transform: translate(0, -50%);
    }
}