.App {
    position: relative;
    overflow: hidden;
}

.App > .circle-container {
    position: absolute;
    width: 780px;
    height: 780px;
    left: 50px;
    top: -650px;
    display: inline;
}

.App .circle {
    z-index: -10;
    width: 780px;
    height: 780px;
}

/********
  TABLET
 ********/
@media (min-width: 680px) {
    .App > .circle-container {
        left: 500px;
        top: -460px;
    }
}

/********
   DESKTOP
  ********/
@media (min-width: 992px) {
    .App > .circle-container {
        left: 55vw;
        top: -580px;
    }

}