.App > .bgCircle-container {
    display: inline;
}
.Contact {
    margin-block-start: 7.875rem;
    margin-block-end: 5rem;
    margin-inline: 1.5rem;
}

.Contact form{
    flex-direction: column;
    margin-block-start: 2.5rem;
    gap: 1.5rem;
}

.Contact form .input-container {
    flex-direction: column-reverse;
}

.Contact form textarea {
    height: 5rem;
}

.Contact form .checkbox-wrapper .checkmark{
    top: 50%;
    transform: translate(0, -50%);
}

.Contact form .checkbox-wrapper p{
    padding-inline-start: 3.125rem;
}

.Contact form .submit-btn {
    width: 9.5rem;
}

.Contact .clients {
    margin-block-start: 5rem;
}

.Contact .client-logos {
    margin-block-start: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 3.5rem;
    row-gap: 2.5rem;
    padding-inline: 1.5rem;
    color: var(--neutral-white);
    align-items: center;
    justify-items: center;
}

.Contact .client-logos .logo {
    filter: invert(30%) sepia(48%) saturate(410%) hue-rotate(165deg) brightness(88%) contrast(91%)
}

/********
  TABLET
 ********/
 @media (min-width: 680px) {

    .Contact {
        margin-block-start: 10.25rem;
        margin-block-end: 6.25rem;
        margin-inline: 0;
    }

    .Contact h2 {
        margin-inline: 6.125rem;
    }

    .Contact form{
        margin-block-start: 3.375rem;
        margin-inline: 10.125rem;
    }

    .Contact .clients {
        margin-block-start: 4rem;
        margin-inline: 7.125rem;
    }

    .Contact .clients h3{
        margin-inline: 3rem;
    }

    .Contact .client-logos {
        margin-block-start: 2.5rem;
    }

    .Contact .client-logos {
        grid-template-columns: 1fr 1fr 1fr;
    }

 }

/********
 DESKTOP
 ********/
 @media (min-width: 992px) {
    .Contact .client-logos {
        padding: 0;
        flex: 0 1 50%;
    }
 }