.App > .bgCircle-container {
    display: inline;
}
.Contact {
    flex-direction: column;
    margin-block-start: 7.875rem;
    margin-block-end: 5rem;
    margin-inline: 1.5rem;
}

.Contact form{
    flex-direction: column;
    margin-block-start: 2.5rem;
    gap: 1.5rem;
}

.Contact form .input-container {
    flex-direction: column-reverse;
}

.Contact form textarea {
    height: 5rem;
}

.Contact form .checkbox-wrapper .checkmark{
    top: 50%;
    transform: translate(0, -50%);
}

.Contact form .checkbox-wrapper p{
    padding-inline-start: 3.125rem;
}

.Contact form .submit-btn {
    width: 9.5rem;
}

.Contact .clients {
    margin-block-start: 5rem;
}

.Contact .clients h3 {
    opacity: 0.75;
}

.Contact .client-logos {
    margin-block-start: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 3.5rem;
    row-gap: 2.5rem;
    padding-inline: 1.5rem;
    color: var(--neutral-white);
    align-items: center;
    justify-items: center;
}

.Contact .client-logos .logo {
    filter: invert(30%) sepia(48%) saturate(410%) hue-rotate(165deg) brightness(88%) contrast(91%)
}

.SubmitModal {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    padding: 2rem;

    border-radius: 25px;

    background-color: var(--neutral-white);
    filter: drop-shadow(2px 3px 10px rgba(0, 0, 0, .5));
    opacity: 1;
}

.SubmitModal img {
    position: absolute;
    right: 7%;
    top: 7%;
    filter: invert(82%) sepia(26%) saturate(93%) hue-rotate(195deg) brightness(114%) contrast(99%);
}

.SubmitModal h3,
.SubmitModal p{
    color: var(--sec-blue-700);
    text-align: center;
}

.SubmitModal p{
    margin-block-start: 1rem;
}

/********
  TABLET
 ********/
 @media (min-width: 680px) {

    .Contact {
        margin-block-start: 10.25rem;
        margin-block-end: 6.25rem;
        margin-inline: 0;
    }

    .Contact h2 {
        margin-inline: 6.125rem;
    }

    .Contact form{
        margin-block-start: 3.375rem;
        margin-inline: 10.125rem;
    }

    .Contact .clients {
        margin-block-start: 4rem;
        margin-inline: 7.125rem;
    }

    .Contact .clients h3{
        margin-inline: 3rem;
    }

    .Contact .client-logos {
        margin-block-start: 2.5rem;
    }

    .Contact .client-logos {
        grid-template-columns: 1fr 1fr 1fr;
    }

 }

/********
 DESKTOP
 ********/
 @media (min-width: 992px) {
    .Contact {
        flex-direction: row;
        flex-wrap: wrap;
        margin-block-start: 10.625rem;
        margin-block-end: 5.75rem;
        margin-inline: 10.25rem;
        align-items: center;
        justify-content: space-between;
        gap: 5rem;
    }

    .Contact .title-wrapper{
        display: flex;
        flex-basis: 100%;
        margin-block-end: 2.75rem;
    }

    .Contact h2 {
        max-width: 45.625rem;
        margin-inline: 0;
    }

    .Contact form {
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 5rem;
        max-width: 27.75rem;
        margin-block-start: 0;
        margin-inline: 0;
    }

    .Contact .clients {
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 5rem;
        max-width: 33.75rem;
        margin-block-start: 0;
        margin-inline: 0;
    }

    .Contact .clients h3{
        margin-inline: 0;
        font-size: 1.5rem;
    }


    .Contact .client-logos {
        padding: 0;
        flex: 0 1 50%;
    }
 }