.App > .bgCircle-container {
    display: inline;
}

.Pricing {
    width: 100%;
    padding-block-start: 7.875rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.Pricing h1 {
    flex-basis: 100%;
    text-align: center;
}

.Pricing .packages {
    flex-direction: column;
    padding-block-start: 3rem;
    margin-inline: 1.5rem;
}

.Pricing .packages .package {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.Pricing .packages .package h4 {
    flex-basis: 100%;
    text-align: center;
}

.Pricing .package .description {
    margin-block-start: 1rem;
    text-align: center;
    color: var(--sec-blue-300);
}

.Pricing .packages .price {
    font-size: 3.5rem;
    margin-block-start: 1rem;
}

.Pricing .package .divider {
    margin-block-start: 1.5rem;
    border-bottom: 1px solid var(--sec-blue-500);
    width: 100%;
    opacity: .25;
}

.Pricing .package .features {
    margin-block-start: 1.5rem;
    list-style-type: none;
    flex-wrap: wrap;
    align-items: center;
    width: min-content;
    justify-content: center;
}

.Pricing .package .features li{
    display: flex;
    justify-content: left;
    align-items: center;
    flex-basis: 100%;
}
.Pricing .package .features li p{
    font-size: 1rem;
}

.Pricing .package .features .check-wrapper {
    width: .75rem;
    flex-basis: .75rem;
    height: .5rem;
}

.Pricing .package .features .title {
    margin-inline-start: 1.5rem;
}

.Pricing .inactive .title p {
   opacity: .5;
}

.Pricing .inactive .check-wrapper img {
    display: none;
}


.Pricing .package button {
    margin-block-start: 1.5rem;
    margin-block-end: 3rem;
}



/********
  TABLET
 ********/
@media (min-width: 680px) {
    .Pricing .packages {
        flex-direction: row;
        margin-inline: 2.5rem;
        gap: 1.25rem;
    }
    .Pricing .packages .package {
        flex: 1 1 33%;
    }
    .Pricing .packages .price {
        font-size: 3rem;
    }
    .Pricing .packages .package .price,
    .Pricing .packages .package .divider {
        flex-shrink: 1;
        flex-grow: 1;
    }
}

/********
  DESKTOP
 ********/
@media (min-width: 992px) {}