.Project {
    flex-direction: column;
    padding-block-start: 7.875rem;
    margin-block-end: 3rem;
    margin-inline: 1.5rem;
    align-items: center;
}

.Project .img-container {
    justify-content: center;
    margin-block-start: 1.5rem;
    filter: drop-shadow(2px 3px 10px rgba(0, 0, 0, .5));
    overflow: hidden;
    border-radius: 45vw;
    position: relative;
    width: 90vw;
    height: 90vw;
}

.Project .circle-container{
    position: absolute;
    width: 100%;
    height: 100%;
}

.Project .circle-container .circle{
    width: 100%;
    height: 100%;
}

.Project p {
    text-align: center;
}

.Project > p {
    margin-block-start: 2rem;
}
.Project .portfolio-wrapper {
    flex-direction: column;
    margin-block-start: 2rem;
    gap: 2rem;
}

.Project .portfolio-wrapper p{
    flex-direction: column;
    gap: 2rem;
}

.Project .portfolio-wrapper button{
    margin-inline: auto;
}


.Project .my-links {
    margin-block-start: 2rem;
    align-items: center;
    gap: 2rem;
}

.Project a  {
    border: none;
    outline: none;
}

.Project a i {
    font-size: 2.5rem;
    border: none;
    outline: none;
}
