.Hero {
    position: relative;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
    padding: 5rem 1.5rem;
}

.Hero .detail-wrapper {
    flex-direction: column;
    align-items: center;
}

.Hero .detail-wrapper img {
    height: 100%;
   
    z-index: 1;
}

.Hero p {
    color: var(--sec-blue-300);
    text-align: center;
}

.Hero .detail {
    margin-block: 2rem 5rem;
}

.Hero .detail h2 {
    text-align: center;
}

.Hero .detail p {
    margin-block: 2rem;

}

.Hero .features {
    flex-direction: column;
    align-items: center;
}

.Hero .feature {
    flex-direction: column;
    align-items: center;
    margin-block-end: 2rem;
}

.Hero .feature h5 {
    margin-block-start: 2rem;
    text-align: center;
}

.Hero .feature p {
    margin-block: 1rem 3rem;
}

/********
  TABLET
 ********/
@media (min-width: 680px) {
    .Hero {
        flex-direction: column;
        padding: 6.25rem 0;
        padding-inline: 2.5rem;
    }

    .Hero .features {
        flex-direction: row;
        gap: .625rem;
    }

    .Hero .detail-wrapper {
        margin-inline: 6rem;
    }
}

/********
  DESKTOP
 ********/
@media (min-width: 992px) {
    .Hero .detail-wrapper {
        margin-inline: 10.25rem;
        flex-direction: row-reverse;
        gap: 6rem;
    }

    .Hero .detail-wrapper:nth-child(2) {
        flex-direction: row;
        margin-block: 9.125rem;
    }

    .Hero .detail h2,
    .Hero .detail p  {
        text-align: start;
    }

    .Hero .detail {
        margin-block: 0;
    }

    .Hero .features {
        margin-inline: 10.25rem;
        gap:1.875rem;
    }

    .Hero .bgCircle-container {
        position: absolute;
        width: 780px;
        left: 80vw;
        top: 50%;
        transform: translate(0 , -50%);
    }
    
    .Hero .bgCircle {
        z-index: -10;
        width: 780px;
        height: 780px;
    }

}