.Landing {
    overflow: hidden;
    height: 100vh;
    position: relative;
}

.Landing .circle-container {
    position: absolute;
    width: 780px;
    left: 50%;
    top: -550px;
    transform: translate(-50%, 0);
}

.Landing .circle {
    z-index: -10;
    width: 780px;
    height: 780px;
}

.Landing .hero-img-wrapper {
    padding-top: 110px;
    justify-content: center;
    align-items: flex-start;
}

.Landing .phone-mockup {
    height: 240px;
    filter: drop-shadow(10px 10px 25px rgba(54, 83, 107, .5));
}

.Landing .cta {
    display: flex;
    flex-direction: column;
    margin: 1.5rem;
    gap: 1rem;
}

.Landing .cta h1 {
    text-align: center;
}

.Landing .cta p {
    text-align: center;
}

.Landing .cta p a {
    text-decoration: none;
    font-weight: 700;
}

/********
  TABLET
 ********/
@media (min-width: 680px) {
    .Landing .circle-container {
        width: 123vw;
        top: -87vw;
    }

    .Landing .circle {
        width: 123vw;
        height: 123vw;
    }

    .Landing .cta {
        flex-direction: column;
        margin: 6.125rem;
        gap: normal;
    }

    .Landing .cta .cta-form {
        position: relative;
        width: auto;
        margin-block: 1.5rem 1rem;
        margin-inline: 4rem;
    }

    .Landing .cta .cta-form .prim-btn {
        position: absolute;
        right: 0;
    }
}

/********
  DESKTOP
 ********/
@media (min-width: 992px) {
    .Landing {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        padding-inline: 10.25rem;
        padding-block-start: 1rem;
    }

    .Landing .cta {
        flex-direction: column;
        flex-basis: 36rem;
        margin: 0;
        gap: normal;
    }

    .Landing .cta h1 {
        text-align: left;
    }

    .Landing .cta .cta-form {
        position: relative;
        width: auto;
        justify-content: flex-start;
        margin-block: 2rem 1rem;
        margin-inline: 0 6.25rem;
    }

    .Landing .cta p {
        text-align: left;
        padding-inline-start: 1.5rem;
    }

    .Landing .hero-img-wrapper {
        padding-top: 0;
        justify-content: center;
        align-items: center;
    }

    .Landing .phone-mockup {
        height: auto;
        filter: drop-shadow(10px 10px 25px rgba(54, 83, 107, .5));
    }

    .Landing .circle-container {
        width: 780px;
        left: 70vw;
        top: -172px;
        transform: translate(0, 0);
    }

    .Landing .circle {
        width: 780px;
        height: 780px;
    }
}

/************
  ANIMATIONS
 ************/
 .Landing .phone-mockup {
    animation: fadeIn ease-in 2s;
}