.Landing {
    overflow: hidden;
    height: 100vh;
    position: relative;
}

.Landing .bgCircle-container {
    position: absolute;
    width: 780px;
    left: 50%;
    top: -550px;
    transform: translate(-50%, 0);
}

.Landing .bgCircle {
    z-index: -10;
    width: 780px;
    height: 780px;
}

.Landing .hero-img-wrapper {
    padding-top: 110px;
    justify-content: center;
    align-items: flex-start;
}

.Landing .phone-mockup {
    height: 240px;
    filter: drop-shadow(10px 10px 25px rgba(54, 83, 107, .5));
    /* box-shadow: 10px 10px 25px 10px rgba(54, 83, 107, 0.25); */
}

.Landing .cta {
    display: flex;
    flex-direction: column;
    margin: 1.5rem;
    gap: 1rem;
}

.Landing .cta h1 {
    text-align: center;
}

.Landing .cta p {
    text-align: center;
}

.Landing .cta p a {
    text-decoration: none;
    font-weight: 700;
}

@media (min-width: 680px) {
    .Landing .bgCircle-container {
        width: 123vw;
        top: -87vw;
    }

    .Landing .bgCircle {
        width: 123vw;
        height: 123vw;
    }

    .Landing .cta {
        flex-direction: column;
        margin: 6.125rem;
        gap: normal;
    }

    .Landing .cta .cta-form {
        position: relative;
        width: auto;
        margin-block: 1.5rem 1rem;
        margin-inline: 4rem;
    }

    .Landing .cta .cta-form .prim-btn{
       position: absolute;
       right: 0;
    }
}